.menu .label
{
    -fx-text-fill: white;
}

.menu .label, .menu-item .label {
    -fx-text-fill: #eee;
}
.menu:hover, .menu:focused, .menu:pressed {
    -fx-background-color: rgb(89, 88, 88);
    -fx-cursor: hand;
}
.menu-item:hover {
    -fx-background-color: rgb(89, 88, 88);
    -fx-cursor: hand;
}
.context-menu {
    -fx-background-color: rgba(0, 0, 0);
}

.btn:hover {
    -fx-cursor: hand;
    -fx-background-color: #F75590;
}

.text-area {
    -fx-control-inner-background:#2c4423;
    -fx-font-family: Consolas;
    -fx-highlight-text-fill: #2c4423;
    -fx-text-fill: white;
    -fx-highlight-fill: #2c4423;
}

.text-area:focused {
    -fx-highlight-fill: #2c4423;
}